/* ==UserStyle==
@name         Youtube Theater
@version      1.2.1
@description  Expands videos to fill all free space inside browser window.
@namespace    https://github.com/StylusThemes
@author       StylusThemes <https://github.com/StylusThemes>
@homepageURL  https://github.com/StylusThemes/YouTube-Theater
@supportURL   https://github.com/StylusThemes/YouTube-Theater/issues
@updateURL    https://raw.githubusercontent.com/StylusThemes/YouTube-Theater/master/style.user.css
@license      CC-BY-SA-4.0

@advanced dropdown VMaxWidth "Real Theater Mode?" {
VMaxWidthY "Yes" <<<EOT
ytd-app[is-watch-page] ytd-watch-flexy[theater] #player-theater-container,ytd-app[is-watch-page] ytd-watch[theater] #player{min-height:100vh!important;max-height:100vh!important}ytd-app[is-watch-page] #masthead-container{opacity:0!important;transition:opacity .2s ease-in-out}ytd-app[is-watch-page] #masthead-container:hover{opacity:1!important}ytd-app[is-watch-page] #page-manager{margin-top:0!important}ytd-app[is-watch-page] #extra-buttons{display:none!important}ytd-app[is-watch-page] #toast:not(.paper-toast-open){pointer-events:none} EOT;
VMaxWidthN "No" <<<EOT
 EOT;
}

@advanced dropdown SVTFP "Stretch Video To Fill Player?" {
SVTFPY "Yes" <<<EOT
video{position:static!important;width:100%!important;object-fit:fill!important} EOT;
SVTFPN "No" <<<EOT
 EOT;
}

@advanced dropdown WatchedBadge "Re-Add Youtube Watched Badge?" {
WatchedBadgeY "Yes" <<<EOT
@font-face{font-family:FontAwesome;font-weight:400;font-style:normal;src:url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0);src:url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"),url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"),url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"),url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"),url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg")}.ytd-browse yt-formatted-string.ytd-thumbnail-overlay-playback-status-renderer{display:none}ytd-thumbnail-overlay-resume-playback-renderer{width:100%;height:100%;background-color:#f0f0f0;opacity:.85;transition:opacity .2s ease-out}ytd-thumbnail-overlay-resume-playback-renderer:before{display:flex;position:absolute;top:0;z-index:100;width:100%;height:100%;font-family:FontAwesome;font-size:32px;color:#999;opacity:.7;transition:.1s ease;content:url(https://raw.githubusercontent.com/StylusThemes/YouTube-Theater/master/images/watched.png);align-items:center;justify-content:center}ytd-compact-video-renderer:hover #overlays,ytd-grid-video-renderer:hover #overlays,ytd-playlist-video-renderer:hover #overlays,ytd-video-renderer:hover #overlays{opacity:0}ytd-thumbnail #overlays{height:100%;transition:.2s ease}ytd-thumbnail-overlay-resume-playback-renderer{opacity:1}#progress.ytd-thumbnail-overlay-resume-playback-renderer{height:100%;background-color:#fff;opacity:.5}html[dark=true] ytd-thumbnail-overlay-resume-playback-renderer{background-color:#030303;opacity:.85}html[dark=true] #progress.ytd-thumbnail-overlay-resume-playback-renderer{background-color:#3a0909;opacity:1}html[dark=true] .ytd-browse div#progress:after{color:#fff} EOT;
WatchedBadgeN "No" <<<EOT
 EOT;
}
==/UserStyle== */
@-moz-document domain("youtube.com") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Globals :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Thinner/Darker Scroll bar :::*/
::-webkit-scrollbar {
  width: 4px !important;
}

::-webkit-scrollbar-button {
  display: none !important;
  border-radius: 0 !important;
  height: 13px !important;
  background-color: #333 !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px !important;
  border-radius: 2px !important;
  background: #555 !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #333 !important;
}

/*[[WatchedBadge]]*/
}

@-moz-document regexp("https?://www.youtube.com/watch.*") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Video Page :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*[[SVTFP]]*/

/*[[VMaxWidth]]*/
}
