/* fade-watched */
/*::: FADE WATCHED VIDEOS :::*/
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;

  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}

.ytd-browse yt-formatted-string.ytd-thumbnail-overlay-playback-status-renderer {
  display: none;
}

ytd-thumbnail-overlay-resume-playback-renderer {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  opacity: .85;
  transition: opacity 200ms ease-out;
}

ytd-thumbnail-overlay-resume-playback-renderer:before {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  font-family: "FontAwesome";
  font-size: 32px;
  color: #999;
  opacity: .7;
  transition: .1s ease;
  content: url("https://raw.githubusercontent.com/StylusThemes/YouTube-Theater/master/images/watched.png");

  align-items: center;
  justify-content: center;
}

ytd-compact-video-renderer:hover #overlays,
ytd-video-renderer:hover #overlays,
ytd-grid-video-renderer:hover #overlays,
ytd-playlist-video-renderer:hover #overlays {
  opacity: 0;
}

ytd-thumbnail #overlays {
  height: 100%;
  transition: .2s ease;
}

ytd-thumbnail-overlay-resume-playback-renderer {
  opacity: 1;
}

#progress.ytd-thumbnail-overlay-resume-playback-renderer {
  height: 100%;
  background-color: #fff;
  opacity: .5;
}

html[dark=true] ytd-thumbnail-overlay-resume-playback-renderer {
  background-color: #030303;
  opacity: .85;
}

html[dark=true] #progress.ytd-thumbnail-overlay-resume-playback-renderer {
  background-color: #3a0909;
  opacity: 1;
}

html[dark=true] .ytd-browse div#progress:after {
  color: #fff;
}
